.App {
  text-align: center;
}

.App-header {
  background-color: #ef0000;
  color: white;
  text-align: left;
  margin-bottom: 10px;
  height: 7rem;
  overflow: hidden;
}

.App-header p {
  margin: 0;
  padding: 5px 0;
}

.App-header #headerCutout {
  background-color: white;
  display: block;
  margin-bottom: 10px;
  margin-top: 1.7rem;
  margin-left: 50%;
  height: 3.5rem;
  width: 55%;
  transform: skew(-45deg);
  position: absolute;
  z-index: 2;
}

.App-header #bigCircle {
  height: 4rem;
  width: 4rem;
  margin-left: 4rem;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.App-header #bigInner {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 0.27rem;
  margin-top: 0.27rem;
  background-color: rgb(69, 132, 248);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 3;
}

.App-header #bigInner2 {
  height: 0.8rem;
  width: 0.8rem;
  margin-left: 0.9rem;
  margin-top: 0.9rem;
  background-color: rgba(255,255,255,0.95);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 3;
}

.App-header #littleCircle1 {
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 9.3rem;
  background-color: rgb(255, 102, 102);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.App-header #littleCircle2 {
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 11.3rem;
  background-color: rgb(255, 251, 17);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.App-header #littleCircle3 {
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 13.3rem;
  background-color: rgb(46, 253, 5);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}