.App {
  text-align: center;
}

.App-header {
  background-color: #ef0000;
  color: white;
  text-align: left;
  margin-bottom: 10px;
  height: 6.2rem;
  overflow: hidden;
}

.App-header p {
  margin: 0;
  padding: 5px 0;
}

.App-header #headerCutout {
  background-color: white;
  display: block;
  margin-bottom: 10px;
  margin-top: 3.1rem;
  margin-left: 50%;
  height: 3.5rem;
  width: 55%;
  transform: skew(-45deg);
  position: absolute;
  z-index: 2;
}

.App-header #bigCircle, .App-footer #bigCircle {
  margin-top: 1rem;
  height: 4rem;
  width: 4rem;
  margin-left: 4rem;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.App-footer #bigCircle {
  height: 3rem;
  width: 3rem;
  background-color: #272727;
}

.App-header #bigInner {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 0.27rem;
  margin-top: 0.27rem;
  background-color: rgb(69, 132, 248);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 3;
}

.App-header #bigInner2 {
  height: 0.8rem;
  width: 0.8rem;
  margin-left: 0.9rem;
  margin-top: 0.9rem;
  background-color: rgba(255,255,255,0.95);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 3;
}

.App-header #littleCircle1 {
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 9.3rem;
  margin-top: 1rem;
  background-color: rgb(255, 102, 102);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.App-header #littleCircle2 {
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 11.3rem;
  margin-top: 1rem;
  background-color: rgb(255, 251, 17);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.App-header #littleCircle3 {
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 13.3rem;
  margin-top: 1rem;
  background-color: rgb(46, 253, 5);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

/* Flash class and keyframe animation */
.flashit{
  color:#f2f;
	-webkit-animation: flash linear 3s infinite;
	animation: flash linear 3s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .6; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .6; } 
	100% { opacity: 1; }
}

.App-footer {
  background-color: #ef0000;
  color: white;
  text-align: left;
  margin-top: 3rem;
  height: 6.2rem;
  overflow: hidden;
}

.App-footer #cross {
  margin-top: 1rem;
  margin-left: 79%;
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 4;
}

.App-footer #cross:before, .App-footer #cross:after {
 content: "";
 position: absolute;
 z-index: -1;
 background: rgb(0, 0, 0);
}

.App-footer #cross:before {
 left: 50%;
 width: 30%;
 margin-left: -15%;
 height: 100%;
}

.App-footer #cross:after {
 top: 50%;
 height: 30%;
 margin-top: -15%;
 width: 100%;
}

.App-footer #line1, .App-footer #line2{
  margin-top: 1rem;
  height: 0.3rem;
  width: 6rem;
  border-radius: 15%;
  display: block;
  position: absolute;
  z-index: 1;
}

.App-footer #line1{
  background-color: rgb(46, 253, 5);
  margin-left: 36%;
}

.App-footer #line2{
  background-color: rgb(69, 132, 248);
  margin-left: 50%;
}

.App-footer p{
  background-color: rgb(165, 230, 128);
  padding-top: 8px;
  text-align: center;
  margin-top: 2.5rem;
  width: 30%;
  height: 2.5rem;
  font-weight: 300;
  color: #5a5858;
  margin-left: 33%;
  position: absolute;
}

@media (max-width: 870px){
  .App-footer p{
    width: 16rem;
  }
}

.App-footer #textFlash{
  text-align: center;
  margin-top: -2.5px;
  margin-left: 5px;
  font-weight: 500;
  color: #5a5858;
  position: absolute;
}

.flashText{
  color:#f2f;
	-webkit-animation: flashT linear 0.85s infinite;
	animation: flashT linear 0.85s infinite;
}

@-webkit-keyframes flashT {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flashT {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}