@font-face {
  font-family: 'Pokemon GB';
  src: url('./PokemonGB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.pokemon-info {
  font-family: 'Pokemon GB';
  text-align: center;
  background-color: #bbb;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 3rem;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 4rem;
}

.pokemon-info h1 {
  background-color: rgb(165, 230, 128);
  font-weight: 300;
  color: #5a5858;
  padding-top: 3rem;
  padding-bottom: 4rem;
}


.details-screen-footer{
  background-color: #ef0000;
}

.details-screen-footer button{
  margin: 10px;    
  padding: 11px;
  border-radius: 20px;
}

.pokemon-pic{
  background-color: #fff;
  /* background-image: url(https://cdn0.iconfinder.com/data/icons/pokemon-go-vol-2/135/_Open_Pokeball-512.png); */
  background-repeat: no-repeat;
  background-size: 12rem;
  margin-left: -9rem;
  margin-top: 3rem;
}

.pokemon-pic #pokeball {
  width: 9rem;
  position: absolute;
  margin-top: -1rem;
  z-index: 0;
}

.pokemon-pic #pokemon {
  position: absolute;
  margin-left: 1.5rem;
  z-index: 2;
}

.pokemon-details{
  background-color: #fff;
  margin-top: 2.2rem;

}
.container{
  background-color: #fff;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.stats, .type, .moves {
  list-style-type: none;
}

.pokemon-name {
  font-size: 24px;
  padding: 5px;
}

.type {
  display: inline-flex;
  justify-content: center;
  background-color: white;
  padding: 3px;
  margin: 0 10px;
}

.details-footer {
  color: white;
  text-align: left;
  margin-bottom: 10px;
  height: 6.2rem;
  overflow: hidden;
}

.details-footer #footerCutout {    
  background-color: white;
  display: block;
  margin-bottom: 10px;
  margin-left: -21.5rem;
  height: 7rem;
  width: 20%;
  transform: skew(45deg);
  position: absolute;
  z-index: 2;
}

@media (max-width: 1260px){
  .details-footer #footerCutout {    
    width: 23%;
  }
}

@media (max-width: 1000px){
  .details-footer #footerCutout {    
    width: 29%;
  }
}

.details-footer #littleCircle {
  margin-top: 1rem;
  height: 4rem;
  width: 4rem;
  margin-left: 2rem;
  background-color: #ef0000;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.details-footer li {
  margin-top: -1.5rem;
  height: 4rem;
  width: 4rem;
  margin-left: 80%;
  z-index: 1;
}

.details-footer li #line {
  height: 0.3rem;
  width: 6rem;
  background-color: #27272A;
  border-radius: 15%;
  display: inline-block;
  /* position: absolute; */
  z-index: 1;
}

.pokemon-info h1 #textFlash{
  text-align: center;
  margin-top: -2.5px;
  margin-left: 5px;
  font-weight: 500;
  color: #5a5858;
  position: absolute;
}

.flashText{
  color:#f2f;
	-webkit-animation: flashT linear 0.85s infinite;
	animation: flashT linear 0.85s infinite;
}

@-webkit-keyframes flashT {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flashT {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

